// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";

ul,ol,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑", arial, sans-serif;
  font-size: 14px;
}

.container {
  .container-fixed();
  width: 1000px;
}

.header {
  .clearfix();
  margin-top: 10px;
  margin-bottom: 10px;
  .logo {
    float: left;
  }
  .nav {
    .clearfix();
    float:right;
    margin: 25px 0; 
    li {
      float: left;
      font-size: 16px;
      margin-left: 20px;
      a {
        color: #000;
        text-decoration: none;
      }
      &:hover,
      &.active {
        a {
          color: #8e002e;
        }
      }
    }
  }
}

#banner .item img{
    display: block;
    width: 100%;
    height: auto;
}

.student-wrap{
  margin-top: 50px;
  .item {
    text-align: center;
    padding: 0 50px;
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 12px;
      color: #666;
      text-align: left;
    }
  }
  .owl-theme {
    .owl-controls {
      margin-top: 30px;
      .clearfix();
      zoom:1;
      .owl-page {
        span { 
           background: url(../images/pagination_bg_02.png) no-repeat -27px center;
        }
      }
      .owl-buttons {
        .clearfix();
        margin-top: -40px;
        background: url(../images/border_bg_01.jpg) repeat-x left center;
        margin-left: 43px;
        margin-right: 43px;
        .owl-prev {
          float: left;
          margin-left: -45px;
          &:hover {
            background-image: url(../images/pagination_left_on.png);
          }
        }
        .owl-next {
          float: right;
          margin-right: -45px;
          &:hover {
            background-image: url(../images/pagination_right_on.png);
          }
        }
      }
    }
  }
}

.performance-wrap {
  margin-top: 100px;
  height: 600px;
  overflow:hidden;
  background: url(../images/performance_bg.png) repeat-x left -210px;
  h2 {
    font-size: 24px;
    text-align: center;
    color: #333;
    font-weight: normal;
  }
  .owl-item {
  }
  .item {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 200px;
    .head {
      border: 1px solid #ccc;
      background-color: #fff;
      border-bottom: none;
      border-radius: 250px 250px 0 0 ;
      text-align: center;
      padding-top: 15px;
      img {
        border: 5px solid #ccc;
        border-radius: 235px;
      }
    }
    .body {
      padding: 1px 15px;
      background-color: #fff;
      border-top: none;
      border-bottom: none;
      h3 {
        font-size: 14px;
        font-weight: normal;
        color: #666;
      }
      .hr {
        border: 0px solid #fff;
        background: url(../images/hr_bg_01.png) center center;
        height: 11px;
      }
      p {
        font-size: 12px;
        font-weight: normal;
        color: #666;
        height: 16px;
        line-height: 16px;
        padding: 0;
        margin-top: 1em;
        .icon {
          width: 16px;
          height: 16px;
          display: block;
          float: left;
          margin-right: 1em;
          background: url(../images/icon_01.png) no-repeat center center;
          &.icon-time {
            background: url(../images/icon_01.png) no-repeat center center;
          }
          &.icon-address {
            background: url(../images/icon_02.png) no-repeat center center;
          }
        }
      }
    }
    .foot {
      width: 100%;
      height: 100px;
      background-color: #fff;
      border-top: none;
      border-radius: 0 0 250px 250px ;
      min-height: 125px;
      *margin-top: -20px;
      .transition(all 0.5s) ;
    }
    &:hover,
    &:active {
       .head {
        img {
          border-color: #8f002f;
        }
       }
       .foot {
         border-radius: 0;
         border-bottom-color: #fff;
         height: 220px;
       }
    }
  }
}

.scholarship-wrap {
  .clearfix();
  width: 100%;
  overflow-x: hidden;
  h2 {
    font-size: 24px;
    text-align: center;
    color: #333;
    font-weight: normal;
  }
  .scholarship-items {
    .clearfix();
    margin-right: -10000px;
    background-color: #000;
    .scholarship-item {
      .transition(all 0.3s) ;
      float: left;
      overflow:hidden;
      position: relative;
      .item-info {
        .transition(all 0.3s 0.2s) ;
        position: absolute;
        bottom: -50px;
        width: 100%;
        height: 49px;
        line-height: 55px;
        background: url(../images/title_bg_01.png) no-repeat center bottom;
        a {
          color: #333;
          margin-left: 2em;
          text-decoration: none;
        }
      }
      &.deselected-item {
        opacity: 0.3;
        &.selected-item {
          opacity: 1;
          .item-info {
            bottom: 0px;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .btn-container {
    margin: 30px 0;
    text-align: center;
  }
}

.btn {
  .transition(all 0.5s) ;
  .button-variant(#333, #fff, #ddd);
  .button-size(10px, 50px, 14px, 34px, 5px);
  border: 1px solid #ddd;
  text-decoration: none;
  position: relative;
  padding-left: 80px;
  &:hover {
    background-color: #8f002f;
    color: #fff;
    border: 1px solid #8f002f;
  }
  .icon {
    position: absolute;
    border-right: 1px solid #ddd;
    left: 0;
    bottom: 0px;
    width: 40px;
    height: 100%;
    display: inline-block;
    float: left;
    margin-right: 1em;
    background: url(../images/icon_03.png) no-repeat center center;
  }
}

.achievement-wrap {
  background: url(../images/achievement_bg_01.jpg) no-repeat;
  background-attachment: fixed;
  padding: 200px 0;
  position: relative;
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/mask_bg_01.png) ;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .container-wrap {
    .clearfix();
    position: relative;
    background-color: #fff;
    z-index: 2;
    padding: 50px 0;
    .pic-with-title {
      position: relative;
      .title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 38px;
        background-color: #fff;
        line-height: 38px;
        margin: 0;
        opacity: 0.8;
        color: #333;
        font-weight: normal;
        padding-left: 1em;
      }
    }
    
    .left-col {
      width: 430px;
      float: left;
    }
    .right-col {
      width: 570px;
      float: left;
      h1 {
        margin-top: 0;
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        color: #333;
      }
      p {
        color: #999;
        margin-top: 25px;
        padding-left: 20px;
      }
      ul {
        .clearfix();
        margin-left: 20px;
        margin-top: 40px;
        li {
          float: left;
          width: 33.33%;
        }
      }
    }
  }
}

.footer {
  .row {
    .clearfix();
  }
  margin: 50px 0;
  color: #666;
  font-size: 12px;
  a {
    color: #666;
    text-decoration: none;
  }
  p {
    margin: 0;
    margin-bottom: 0.4em;
  }
  .col-1 {
    float: left;
    width: 200px;
  }
  .col-2 {
    float: left;
    width: 450px;
  }
  .col-3 {
    float: left;
    width: 350px;
    .qr {
      float: right;
      margin-left: 50px;
      img {
        border: 1px solid #ddd;
        padding: 5px;
      }
      p {
        text-align: center;
      }
    }
  }
  
}

.music-container {
  img {
    position: fixed;
  }
}
